.messages {
     padding: 2rem 0;
}

.messages p {
     color: #2a2a2a;
     background-color: aliceblue;
     font-size: 1.25em;
     padding: 0.75em;
     border-radius: 5px;
     letter-spacing: 1.1px;
}

.messages .message {
     max-width: 400px;
}

.messages .message-replie {
     max-width: 400px;
     margin-left: auto;
}
